.App {
  /* min-width:95rem; */
  height: 100vh;
  background-color: rgb(228, 222, 222);
  margin:0;
  padding:0;
  box-sizing: border-box;
  position: relative;
}

.parentDiv{
  background: white;
  position: absolute;
  left:1rem;
  right:1rem;
  top:1rem;
  bottom:1rem;
  margin:auto;
  border-radius: 1rem;
  /* min-height:10rem; */
  /* max-width:100rem; */
}
.topSectionHeading{
  margin:0 5rem;
  /* margin-top: -2.5rem; */
}
.leftText{
  display:inline-block
}
.rightText{
  display:inline-block
}
.topDelete{
  display:flex;
  justify-content: space-between;
}
.topSectionLine{
   width:100%;
   height:0.1rem;
   background: gray;
}
.rightText{
  color:red;
  cursor: pointer;
  margin-right: 1rem;
}
.imageGallery{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-content: center;
}
div:nth-child(1){
  grid-column:1 / 3;
  grid-row:1 / 3;
  align-content: center;
}
.singleImageDiv{
  border:0.125rem solid black;
  margin:0rem;
  height: 8rem;
  width:8rem;
  margin: 2rem 5rem;
  position:relative;
}
.check{
  position:absolute;
  left:1rem;
  top:1rem;
  visibility:hidden;
}
.singleImage{
  height: 100%;
  width: 100%;
}
.addImage{
  height: 100%;
  width: 100%;
}
.singleImageDiv{
  border-radius: 0.1rem;
  cursor: pointer;
}
.addImageDiv{
  border-radius: 0.1rem;
  border:0.125rem dotted black;
  margin:0rem;
  height: 8rem;
  width:8rem;
  margin: 2rem 5rem;
  cursor:not-allowed;
}
.singleImageDiv:hover{
  background: gray;
  opacity:0.5;
}
.singleImage:hover{
  background: gray;
  opacity:0.5;
}
.singleImageDivShadow{
  border:0.125rem solid black;
  background: gray;
  opacity:0.5;
  margin:0rem;
  height: 8rem;
  width:8rem;
  margin: 2rem 5rem;
  position:relative;
}
.singleImageShadow{
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: gray;
  opacity:0.5;
}
.check{
  position:absolute;
  left:1rem;
  top:1rem;
  visibility:hidden;
}
.singleImage:hover .check{
  visibility:visible;
  cursor:pointer;
}
.singleImageDiv:hover .check{
  visibility:visible;
  cursor:pointer;
}
.showCheck{
  position:absolute;
  left:1rem;
  top:1rem;
  visibility:visible;
  cursor: pointer;
}







